<div class="cinema-background">
  <div class="quiz-inicio-container">
    <div class="maker">
      @if(usuarioConectado() == true){
        <button class="boton-maker" (click)="startMaker()">QUIZ MAKER</button>
      }
    </div>
    <h1>Movie Challenge</h1>
    <p>¡Pon a prueba tus conocimientos cinematográficos!</p>

    <!-- Mensaje informativo -->
    <p class="info-message">
      Selecciona la dificultad del quiz y el tipo de preguntas que deseas responder.
      Puedes elegir entre preguntas predefinidas o aquellas creadas por otros usuarios.
      ¡Diviértete y aprende mientras juegas!
    </p>

    <div class="opcion-dificultad">
      <h3>Selecciona la dificultad:</h3>
      <button class="easy" (click)="selectDificultad('easy')" [class.selected]="dificultadBase === 'easy'">Fácil</button>
      <button class="medium" (click)="selectDificultad('medium')" [class.selected]="dificultadBase === 'medium'">Medio</button>
      <button class="hard" (click)="selectDificultad('hard')" [class.selected]="dificultadBase === 'hard'">Difícil</button>
    </div>

    <div>
      <label for="fuentePreguntas">Selecciona el modo de Challenge:</label>
      <select id="fuentePreguntas" [(ngModel)]="fuentePreguntas">
        <option value="predefinidas">Movie Challenge</option>
        <option value="creadasPorUsuario">Preguntas de la Comunidad</option>
      </select>
    </div>

    <button class="start-button" (click)="startQuiz()">Iniciar Quiz</button>
  </div>
</div>
