.quiz-inicio-container {
    background-color: rgba(0, 0, 0, 0.329);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.203);
    text-align: center;
}

h1 {
    color: #ffa600;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
}

p {
    color: #cccccc;
    font-size: 1.2em;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif

}

.opcion-dificultad {
    margin: 35px 0;
    flex-direction: column;
    align-items: center;
}

.opcion-dificultad h3 {
    color: #78e800;
    margin-bottom: 20px;
}
.opcion-dificultad button {
    padding: 15px 40px;
    margin: 0 10px;
    border: none;
    width: 150px;
    border-radius: 8px;
    background-color: #444;
    color: #ffa600;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px #ffa600;
}

.opcion-dificultad button:hover {
    background-color: #ffa600;
    color: #333;
    transform: translateY(-2px);
    box-shadow:  0 4px 15px rgba(255, 0, 0, 0.63);
}

.opcion-dificultad button.selected {
    transform: scale(1.20);
    background-color: #66ff00;
    color: #353535;
    font-weight: 600;
    font-family: Arial;
    box-shadow:  0 4px 15px rgba(30, 255, 0, 0.5);
}

.start-button {
    padding: 15px 50px;
    border: none;
    border-radius: 8px;
    background-color: #0059ff;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.start-button:hover {
    background-color: #5732ff;
    transform: translateY(-2px);
    box-shadow:  0 4px 15px rgba(187, 0, 255, 0.5);
    font-weight: 600;
    color: #333;
}
.maker-vote{
  position: absolute;
  display: flex;
}

.boton-maker {
  background: #333;
  color: #ffa600;
  border: 2px solid #ffa600;
  padding: 10px 40px;
  margin: 0 10px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  width: 170px;
  height: 40px;
}
.boton-maker:hover {
  color: #fff;
}
.boton-maker::after {
  content: "";
  background: #ffa600;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.boton-maker:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.boton-vote {
  background: #333;
  color: #ffa600;
  border: 2px solid #ffa600;
  padding: 0 20px 0 20px;
  margin: 10px auto;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  height: 40px;
  width: 170px;
}
.boton-vote:hover {
  color: #fff;
}
.boton-vote::after {
  content: "";
  background: #ffa600;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.boton-vote:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.p-mensaje{
  position: absolute;
  top: 20px;
  left: 20px;
  border: 2px solid #ffa600;
  background-color: #333;
  border-radius: 10px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 200px;
  height: 200px;
  text-align:center;
}
