<div class="cinema-background">
  <div class="quiz-inicio-container">
    <div class="maker-vote">
      @if(usuarioConectado() == true){
        <p></p>
        <button class="boton-maker" (click)="startMaker()">QUIZ MAKER</button>
        <button class="boton-vote" (click)="startVote()">VOTAR PREGUNTAS</button>
      }
    </div>
    <h1>Movie Challenge</h1>
    <p>¡Pon a prueba tus conocimientos cinematográficos!</p>

    <div class="opcion-dificultad">
      <h3>Selecciona la dificultad:</h3>
      <button class="easy" (click)="selectDificultad('easy')" [class.selected]="dificultadBase === 'easy'">Fácil</button>
      <button class="medium" (click)="selectDificultad('medium')" [class.selected]="dificultadBase === 'medium'">Medio</button>
      <button class="hard" (click)="selectDificultad('hard')" [class.selected]="dificultadBase === 'hard'">Difícil</button>
    </div>

    <button (click)="startQuiz()" class="start-button">
      <span>Iniciar Quiz</span>
    </button>
  </div>
</div>
