.home-container {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #460808;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url('/assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #460808;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.hero-btn:hover {
  background-color: #8b1c11;
}

.services {
  padding: 50px 20px;
  text-align: center;
  background-color: #460808;
}

.services h2 {
  margin-bottom: 30px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #460808;
}

.card h3 {
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.carousel {
  padding: 50px 20px;
  text-align: center;
}

.carousel h2 {
  margin-bottom: 20px;
}

.carousel-images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel-images img {
  width: 30%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carousel-images img:hover {
  transform: scale(1.1);
}
