<!-- user-profile.component.html -->
<div *ngIf="userInfo; else loading" class="perfil-details">
  <h2>Mi Perfil</h2>
  <p><strong>Nombre:</strong> {{ userInfo.nombre }}</p>
  <p><strong>Apellido:</strong> {{ userInfo.apellido }}</p>
  <p><strong>Email:</strong> {{ userInfo.email }}</p>
  <p><strong>Fecha de Nacimiento:</strong> {{ userInfo.fechaNacimiento }}</p>

  <!-- Botón para eliminar cuenta -->
  <button (click)="eliminarCuenta()" class="btn btn-eliminar">Eliminar Cuenta</button>
  <button routerLink="/editar-perfil" class="btn btn-editar">Modificar Datos</button>
  <button routerLink="/cambiar-contrasenia" class="btn btn-cambioContra">Cambiar contraseña</button>

  <!-- Sección para cambiar contraseña -->
  
</div>
<ng-template #loading>
  <p>Cargando...</p>
</ng-template>