.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #460808;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.carousel-frame {
  display: flex;
  position: relative;
  width: 80%;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.poster img {
  width: 30%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.poster img:hover {
  transform: scale(1.02);
}

.carousel-caption {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 1;
  transition: color 0.3s;
}

.carousel-btn:hover {
  color: #6f0606;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
