<form [formGroup]="formularioQuestion" (ngSubmit)="onSubmit()">
  <label for="question">Pregunta:</label>
  <input id="question" type="text" formControlName="question" placeholder="Escribe la pregunta aquí"/>
  <div *ngIf="formularioQuestion.get('question')?.invalid && formularioQuestion.get('question')?.touched">
    <p class="errorPregunta">La pregunta es requerida.</p>
  </div>

  <label for="correctAnswer">Respuesta Correcta:</label>
  <input id="correctAnswer" type="text" formControlName="correctAnswer" placeholder="Escribe la respuesta correcta aquí"/>
  <div *ngIf="formularioQuestion.get('correctAnswer')?.invalid && formularioQuestion.get('correctAnswer')?.touched">
    <p class="errorRespuestaCor">La respuesta correcta es requerida.</p>
  </div>

  <label>Respuestas Incorrectas:</label>
  <div formArrayName="incorrectAnswers">
    <div *ngFor="let incorrectAnswer of incorrectAnswers.controls; let i = index">
      <input [formControlName]="i" type="text" placeholder="Respuesta Incorrecta {{ i + 1 }}"/>
      <div *ngIf="incorrectAnswer.invalid && incorrectAnswer.touched"><p class="errorRespuestaInc">La respuesta incorrecta es requerida.</p></div>
    </div>
  </div>

  <label for="difficulty">Dificultad:</label>
  <select id="difficulty" formControlName="difficulty">
    <option value="" disabled>Selecciona una dificultad</option>
    <option value="easy">Fácil</option>
    <option value="medium">Media</option>
    <option value="hard">Difícil</option>
  </select>
  <div *ngIf="formularioQuestion.get('difficulty')?.invalid && formularioQuestion.get('difficulty')?.touched">
    <p class="errorDificultad">La dificultad es requerida.</p>
  </div>

  <button type="submit" [disabled]="formularioQuestion.invalid">Guardar Pregunta</button>

  <div *ngIf="showConfirmationMessage" class="confirmation-message">
    <p class="mensajeConfirmacion">¡La pregunta ha sido guardada exitosamente!</p>
  </div>
</form>
