<div class="maker-user">
  <h2 class="title">Formulario Nueva Pregunta</h2>
  <button (click)="toggleForm()" class="toggle-button">
    {{ showForm ? 'Ocultar Formulario' : 'Crear Pregunta' }}
  </button>

  <div *ngIf="showForm" class="auth-dialog-overlay">
    <div>
      <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="auth-dialog">
        <h2 class="form-title">Crear Pregunta</h2>

        <div class="form-group">
          <label for="question">Pregunta:</label>
          <input id="question" formControlName="question" type="text" class="form-input" placeholder="Escribe la pregunta aquí"/>
          <div *ngIf="quizForm.get('question')?.invalid && quizForm.get('question')?.touched">
            <p class="errorPregunta">Campo Obligatorio.</p>
          </div>
        </div>

        <div class="form-group">
          <label for="correctAnswer">Respuesta Correcta:</label>
          <input id="correctAnswer" formControlName="correctAnswer" type="text" class="form-input" placeholder="Escribe la respuesta correcta aquí"/>
          <div *ngIf="quizForm.get('correctAnswer')?.invalid && quizForm.get('correctAnswer')?.touched">
            <p class="errorRespuestaCor">Campo Obligatorio.</p>
          </div>
        </div>

        <div formArrayName="incorrectAnswers" *ngFor="let control of getIncorrectAnswersControls(); let i = index">
          <div class="form-group">
            <label [attr.for]="'incorrectAnswer' + i">Respuesta Incorrecta {{ i + 1 }}:</label>
            <input [attr.id]="'incorrectAnswer' + i" [formControlName]="i" type="text" class="form-input" placeholder="Escribe la respuesta incorrecta aquí" required/>
            <div *ngIf="control.invalid && control.touched">
              <p class="errorRespuestaCor">Campo Obligatorio.</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="difficulty">Dificultad:</label>
          <select id="difficulty" formControlName="difficulty" class="form-select">
            <option value="" disabled>Selecciona una dificultad</option>
            <option value="easy">Fácil</option>
            <option value="medium">Media</option>
            <option value="hard">Difícil</option>
          </select>
          <div *ngIf="quizForm.get('difficulty')?.invalid && quizForm.get('difficulty')?.touched">
            <p class="errorDificultad">La dificultad es requerida.</p>
          </div>
        </div>

        <button type="submit" [disabled]="quizForm.invalid" class="crear-button">Guardar</button>
        <button type="button" (click)="toggleForm()" class="cancel-button">Cancelar</button>

        <div *ngIf="errorMessage" class="error">
          {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="success">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>

  <!-- Diálogo de confirmación -->
  <div class="confirm-dialog" *ngIf="showConfirmDialog">
    <h1>¿Está seguro?</h1>
    <p>¡No podrás recuperar esta pregunta después de eliminarla!</p>
    <button class="delete-button" (click)="confirmDelete(true)">Eliminar</button>
    <button class="edit-button" (click)="confirmDelete(false)">Cancelar</button>
  </div>
</div>

<div *ngIf="questions.length > 0; else noQuestions" class="questions-container">
  <h2 class="title">Mis Preguntas</h2>
  <div *ngFor="let question of questions" class="question-card">
    <h3 class="question-title">{{ question.question }}</h3>
    <div class=" answer-section">
      <p class="correct-answer"><strong>✔ Respuesta Correcta:</strong> {{ question.correctAnswer }}</p>
      <p class="incorrect-answers"><strong>✘ Respuestas Incorrectas:</strong> {{ question.incorrectAnswers?.join(', ') }}</p>
    </div>
    <p class="difficulty">
      <strong>Dificultad:</strong>
      {{
        question.difficulty === 'easy' ? 'Fácil' :
        question.difficulty === 'medium' ? 'Media' :
        question.difficulty === 'hard' ? 'Difícil' :
        ''
      }}
    </p>
    <div class="actions">
      <button *ngIf="question.id" (click)="eliminarPregunta(question.id)" class="delete-button">Eliminar</button>
      <button (click)="editarPregunta(question)" class="edit-button">Editar</button>
    </div>
  </div>
</div>
<ng-template #noQuestions>
  <p class="no-questions-message">No tienes preguntas creadas.</p>
</ng-template>
