.navbar {
  background-color: #111;
  border: 1px solid #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-logo {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i {
  color: white;
  font-size: 1.8rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px; /* Ajustado para ser más pequeño */
}

.nav-item {
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: #8b1c11;
}

.active {
  color: #8b1c11;
}

.quiz-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.quiz-badge {
  position: absolute;
  top: -8px;
  right: -30px;
  background-color: #8b1c11;
  color: white;
  font-size: 0.7rem;
  padding: 2px 8px;
  border-radius: 12px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.quiz-link:hover {
  color: #8b1c11;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #111;
    padding: 10px; /* Espaciado adicional para el menú desplegado */
  }

  .nav-menu.active {
    display: flex;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px; /* Espaciado para el botón del dropdown */
}

.dropdown-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 160px;
  max-width: 200px; /* Limita el ancho máximo si es necesario */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #8b1c11; /* Color de fondo al pasar el mouse sobre las opciones del dropdown */
}
