<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-container">
    <ul [class.active]="isMenuOpen" class="nav-menu">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-links">Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="/peliculas" routerLinkActive="active" class="nav-links">Películas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/favoritos" routerLinkActive="active" class="nav-links">Favoritos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/resenas" routerLinkActive="active" class="nav-links">Reseñas</a>
      </li>
      <!-- Nuevo elemento para el quiz -->
      <li class="nav-item">
        <a routerLink="/quiz" routerLinkActive="active" class="nav-links quiz-link">
          Movie Challenge
          <span class="quiz-badge">¡Nuevo!</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
