<nav class="navbar">
  <div class="navbar-container">
    <ul [class.active]="isMenuOpen" class="nav-menu">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-links">Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="/peliculas" routerLinkActive="active" class="nav-links">Películas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/quiz" routerLinkActive="active" class="nav-links quiz-link">
          Movie Challenge
          <span class="quiz-badge">¡Nuevo!</span>
        </a>
      </li>
      <!-- Botón 'Mis datos' -->
      <li class="nav-item" *ngIf="usuarioActual">
        <div class="dropdown">
          <button class="nav-links dropdown-button">Mis datos</button>
          <div class="dropdown-content">
            <a routerLink="/mi-perfil" class="nav-links">Mi perfil</a>
            <a routerLink="/mis-resenas" class="nav-links">Mis reseñas</a>
            <a routerLink="/favoritos" routerLinkActive="active" class="nav-links">Favoritos</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
