<div class="contenedor-preguntas" [style.background-color]="colorFondoPreguntas">
  <div class="preguntas-header">
    <h2>Pregunta {{ preguntaNro }} de {{ totalPreguntas }}</h2>
  </div>
  <div class="pregunta">
    <p>{{ preguntaActual.question }}</p>
  </div>
  <div class="opciones-de-respuesta">
    <button *ngFor="let respuesta of respuestas"
            (click)="respuestaSelect(respuesta)"
            [class.seleccion]="respuestaSeleccionada === respuesta"
            [class.correcta]="esCorrecta !== null && respuesta === preguntaActual.correctAnswer"
            [class.incorrecta]="esCorrecta !== null && respuestaSeleccionada === respuesta && !esCorrecta"
            [disabled]="respuestaSeleccionada !== null">
      {{ respuesta }}
    </button>
  </div>
</div>
