.contenedor-preguntas {
  text-align: center;
  padding: 2% 15% 0 15%;
  border-radius: 1px;
  display: flexbox;
  background-color: #00000054;
}

.pregunta {
  background-color: rgb(255, 187, 0); /* Color naranja con transparencia */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  min-height: 125px; /* Altura mínima fija */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.768);
}

.pregunta p {
  margin: 0;
  text-align: center;
}

.preguntas-header {
  margin-top: 15px;
  text-align: center;
}

.preguntas-header h2 {
  background-color: rgba(0, 0, 0, 0.859);
  border-radius: 10px;
  margin-bottom: 25px;
  color: #ffa600;
  font-size: 1.5em;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.768);
}

.opciones-de-respuesta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #474747;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.768);
}

button:hover:not(:disabled) {
  background-color: #a600ff;
  transform: translateY(-2px);
  font-size: 1.4em;
  color: #333;
  font-size: large;
  box-shadow: 0 4px 15px #efd1ffe4;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

button.seleccion {
  background-color: #ff8c00; /* Color naranja oscuro */
  color: #333;
  font-size: large;
}

button.correcta {
  background-color: #00ff08; /* Verde para respuesta correcta */
  color: #333;
  font-size: large;
  box-shadow: 0 4px 15px #81fd85c2;
}

button.incorrecta {
  background-color: #ff1100; /* Rojo para respuesta incorrecta */
  color: #333;
  font-size: large;
  box-shadow: 0 4px 15px #ff887fc9;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

button.seleccion {
  animation: pulse 0.5s;
}
