.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #8b1c11;
  background-color: #d4d3d3;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #460808;
  margin-bottom: 20px;
}

.card {
  border: 2px solid #8b1c11;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #460808;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 15px;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
  border: none;
  margin-right: 10px;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.alert {
  text-align: center;
  font-size: 16px;
  color: #555;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}

.pelicula-link {
  color:black;
}
