<div *ngIf="questions.length > 0; else noQuestions" class="questions-container">
  <h2 class="title">Mis Preguntas</h2>
  <div *ngFor="let question of questions" class="question-card">
    <h3 class="question">{{ question.question }}</h3>
    <p><strong>Respuesta Correcta:</strong> {{ question.correctAnswer }}</p>
    <p><strong>Respuestas Incorrectas:</strong> {{ question.incorrectAnswers?.join(', ') }}</p>
    <p><strong>Dificultad:</strong> {{ question.difficulty }}</p>
  </div>

  <ng-template #noQuestions>
    <p>No hay preguntas creadas.</p>
  </ng-template>

</div>

<ng-template #noQuestions>
  <p class="no-questions-message">No tienes preguntas creadas.</p>
</ng-template>
