* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.6;
  background-color: #460808;
  margin: 0;
  padding: 0;
  color: #d4d3d3;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
