.questions-container {
  background-color: rgba(0, 0, 0, 0.651); /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(255, 0, 0, 0.203); /* Sombra sutil */
  padding: 20px;
  max-width: 1000px; /* Ancho máximo */
  margin: auto; /* Centrar el contenedor */
  font-family: 'Roboto', sans-serif; /* Tipografía */
  text-align: left; /* Alinear texto a la izquierda */
}

.title {
  text-align: center; /* Centrar el título */
  font-size: 24px; /* Tamaño de fuente del título */
  color: #ffa600; /* Color del texto del título */
  margin-bottom: 20px; /* Espaciado inferior */
}

.question-card {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  border: 1px solid #444; /* Borde oscuro */
  border-radius: 5px; /* Bordes redondeados en tarjetas */
  padding: 15px; /* Espaciado interno */
  margin-bottom: 15px; /* Espaciado entre tarjetas */
  transition: box-shadow 0.3s; /* Transición suave para la sombra */
}

.question-card:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 0, 0.5); /* Sombra más pronunciada al pasar el mouse */
}

.no-questions-message {
  text-align: center; /* Centrar el mensaje */
  font-size: 18px; /* Tamaño de fuente del mensaje */
  color: #ff4d4d; /* Color del texto */
  margin-top: 20px; /* Espaciado superior */
}
