.container-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px 20px;
  border-radius: 10px;
  border: 2px solid #8b1c11;
  background-color: #d4d3d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
  color: #460808;
}

.styled-form .form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: 600;
  color: #460808;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #f5c518;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.is-invalid {
  border-color: #e74c3c;
}

.invalid-feedback {
  color: #e74c3c;
  font-size: 0.9em;
  margin-top: 5px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  color: #fff;
  background-color: #8b1c11;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:disabled {
  background-color: #b3d7ff;
  cursor: not-allowed;
}

.btn-submit:hover:not(:disabled) {
  background-color: #f5c518;
}
