*{
  background-image: url('../../assets/images/quiz-wallpng8.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:initial;
  box-sizing:content-box;
  z-index: -1;
}
